 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

 .app {
   background-color: #000000;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
   background-attachment: fixed;
   background-size: cover;
   height: 600px;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;

 }

 .chk {
   text-align: center
 }

 @media screen and (max-width:600px) {}

 .headofdash {

   /* background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(187,22,0,1) 100%);
backdrop-filter: blur(20px);
 
background: linear-gradient(108,403deg,rgba(226, 13, 13, 0.11)102.95%); */

   background-color: #131212;
   background-image: url(/src/v960-ning-05.jpg);
   background-attachment: fixed;
   background-size: cover;
   color: black;
   /*  
background-color: #212121;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(266,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF0B0B'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(92,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='11.219999999999999'%3E%3Cpath transform='translate(-41.65 0) rotate(-2.55 1409 581) scale(0.9651329999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.74' transform='translate(-59.5 34) rotate(1.6999999999999997 800 450) scale(1.0009279999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(3.4000000000000004 -25.5) rotate(8.5 401 736) scale(1.0009279999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.4'%3E%3Cpath transform='translate(204 3.3999999999999995) rotate(-0.8499999999999999 150 345) scale(0.9997109999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='7.48' transform='translate(-42.5 -93.5)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-108.8 27.2) scale(0.915)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */


   padding-bottom: 500px;
   border-radius: 25px;

   backdrop-filter: blur(20px);


 }

 .logo12 {
   /* margin-right: 50px;
   
  background-size: 60%; */
   align-items: flex-start;
   text-align: left;
   margin-right: 90px;
 }

 .logo1 {
   margin-left: 130px;
   /* padding-left: 50px; */

   background-size: 20%;
 }

 .headof {


   background-color: #131212;
   background-image: url(/src/v960-ning-05.jpg);
   background-attachment: fixed;
   background-size: cover;
   color: black;


 }

 .login_text {
   color: #000000;
 }

 .card {


   width: 550px;
   height: 600px;




   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);

   border: 18px #8a0000;



   box-shadow: -5px 4px 64px -1px rgba(0, 0, 0, 0.21);
   border-radius: 25px;

   backdrop-filter: blur(70px);
   position: fixed;

 }

 .header {
   background-color: #f0f5f8;
   backdrop-filter: blur(70px);
 }

 .tool {
   color: rgb(134, 6, 6);


 }

 .toolphle {
   margin-left: -160px;
 }

 /* .toolphle:hover{
  color: rgb(134, 6, 6);
  border-color: hsl(0, 100%, 50%);mainbbck
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  background-color: rgb(0, 0, 0);

   
  } */
 .iconuser {
   align-items: flex-end;
   text-align: right;
   margin-left: 1000px;

 }

 /* 
  .iconuser:hover{
    color: rgb(134, 6, 6);
    border-color: hsl(0, 100%, 50%);
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    background-color: rgb(0, 0, 0);


    text-align: right;
  } */
 .input1:focus {
   background-color: rgb(0, 0, 0);
   border-color: hsl(0, 100%, 50%);
   border-radius: 12px;
   border-width: 3px;
   border-style: solid;
 }

 .input12 {
   margin-top: 10px;
   background-color: #ffffff;
   border-radius: 12px;
   border-width: 3px;
   border-style: solid;
 }

 .input1 {
   background-color: #000000;
 }

 .database {
   font-size: 15px;

   color: rgb(134, 6, 6);

 }

 .usericons {

   color: rgb(134, 6, 6);
 }

 .usericons:focus-within {

   color: rgb(134, 6, 6);
 }

 .usericon {
   color: rgb(134, 6, 6);

 }

 .button_dash {
   backdrop-filter: blur(77px);

   margin-left: 20px;
   border-radius: 252px;
   box-shadow: 3px 3px 3px 3px rgba(56, 20, 45, 0.21);

 }

 .welcomeback {

   font-family: 'Montserrat', sans-serif;
 }

 .creadits {

   font-family: 'Montserrat', sans-serif;
   text-align: right;
   padding-left: 500px;
 }

 .carddash {



   /* margin-left: 25px; */





   background: linear-gradient(108, 403deg, rgba(0, 0, 0, 0.11)102.95%);

   border: 788px #8a0000;

   border-color: #000000;



   ;
   border-radius: 252px;

   backdrop-filter: blur(77px);

   /* box-shadow: -5px 4px 14px -1px rgba(0, 0, 0, 0.21) */


 }

 .tools {
   border: 788px #000000;
   /* box-shadow: 3px 3px 3px 3px rgba(196, 188, 188, 0.21);*/
   box-shadow: -5px 4px 24px -1px rgba(0, 0, 0, 0.21);
   /* margin-left: 50px;carddash */
   /* padding-left: 5px; */
   width: 250px;

   border-radius: 25px;
   /* background: linear-gradient(108,403deg,rgba(226, 13, 13, 0.11)102.95%); */
   backdrop-filter: blur(77000px);
 }

 .headerg {

   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);
   border-color: #000000;


   box-shadow: -5px 4px 34px -1px rgba(255, 0, 0, 0.21);

   backdrop-filter: blur(10px);

 }


 .dashboard {}

 .navlink {}

 .h1 {

   color: #8a0000;
   font-size: 48px;
   font-family: 'Plus Jakarta Sans', sans-serif;


   width: 50%;

   text-align: left !important
 }

 .login {
   color: rgb(0, 0, 0);

 }

 .p {
   @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');
   font-family: 'Plus Jakarta Sans', sans-serif;
   text-align: left !important;
   color: white;
   width: 50%;
   font-size: 17px;
   color: #afa3a3;
 }

 .btn_login {
   margin-top: 10%;

 }

 .btn_login1 {
   margin-top: 5%;

 }

 @keyframes MoveUpDown {

   0%,
   100% {
     transform: translateY(1);
   }

   50% {
     transform: translateY(-5px);
   }
 }

 body {


   /* Small devices (portrait tablets and large phones, 600px and up) */



   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #ff7700;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
   background-attachment: fixed;
   background-size: cover;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 @media screen and (max-width:600px) {
   .card {width: 10px;}

   .h1 {
     text-align: center !important;
     font-size: 48px;
   }

   .p {
     text-align: center !important;
   }
 }

 @media screen and (min-width: 600px) {
  .card {width: 550px;}



 }

 @media screen and (min-width: 710px) {
   .card {}
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
   .card {}
 }


 /* //my-profile */
 .headerg {
   background-color: #000000;
   color: white
 }

 .packs1 {

   box-shadow: 3px 3px 3px 3px rgba(172, 161, 161, 0.21);



   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);

   border: 18px #8a0000;




   border-radius: 25px;

   backdrop-filter: blur(10px);

 }

 .packs {

   box-shadow: 3px 3px 3px 3px rgba(172, 161, 161, 0.21);



   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);

   border: 18px #8a0000;




   border-radius: 25px;

   backdrop-filter: blur(10px);

 }

 .backp {
   border-radius: 25px;

   background-color: #131212;
   background-image: url(/src/v960-ning-05.jpg);
   background-attachment: fixed;
   background-size: cover;
   color: black;
   background-size: cover;
   padding-bottom: 500px;


 }

 .gridp {
   background-size: cover;

 }

 /* login succcess */
 .button {
   background-color: #353333;
   color: rgb(255, 255, 255);

 }

 .mheadng {
   color: #0a0a0a;



 }

 .background {
   border-radius: 25px;
   border: 18px #000000;

   background-color: #212121;
   background-image: url(/src/v960-ning-05.jpg);
   background-attachment: fixed;
   background-size: cover;



   /* background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(31,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='7.919999999999999'%3E%3Cpath transform='translate(-203.7 23.6) rotate(8.600000000000001 1409 581) scale(0.9647000000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.64' transform='translate(-202.5 141) rotate(21.8 800 450) scale(1.029)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(61.3 -238.5) rotate(197.5 401 736) scale(1.029)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.4'%3E%3Cpath transform='translate(846 -15.399999999999999) rotate(3.8499999999999996 150 345) scale(0.9369)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='5.28' transform='translate(-338.5 -373) rotate(212.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-616.4 183.6) rotate(35.4 1400 132) scale(0.795)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
 }

 /* pricing */


 @media screen and (max-width:600px) {
   .backblur {
     width: 400px;
   }
 }

 @media screen and (max-width: 680px) {
   .backblur {
     width: 700px;
   }
 }

 /* entry promt */
 .backblur {
   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);

   border: 18px #8a0000;



   /* box-shadow: -5px 4px 34px -1px rgba(255, 0, 0, 0.21) */
   ;
   border-radius: 25px;

   backdrop-filter: blur(10px);

   height: 805px;



   text-align: left;
 }

 /* count down text */
 .countdowntext {
   background-color: #212121;
   margin-bottom: 50px;

   /* box-shadow: -5px 4px 34px -1px rgba(255, 0, 0, 0.21) */

 }

 .outputbdy1 {
   /* background: linear-gradient(108,403deg,rgba(226, 13, 13, 0.11)102.95%); */
   background-color: #afa3a3;
   border: 18px #8a0000;


   /* 
box-shadow: -5px 4px 34px -1px rgba(255, 0, 0, 0.21) */
   ;
   border-radius: 25px;

   backdrop-filter: blur(10px);
   margin-right: 50px;
   /* height: 700px; */



   text-align: left;
 }

 /* output */
 .outputbdy {
   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);
   border: 18px #8a0000;


   /* 
box-shadow: -5px 4px 34px -1px rgba(255, 0, 0, 0.21) */
   ;
   border-radius: 25px;

   backdrop-filter: blur(10px);
   margin-right: 50px;
   /* height: 700px; */



   text-align: left;
 }

 .login1 {
   color: rgb(136, 135, 135);

 }

 /* colum_2 */
 .col6_1 {}

 .mainbbck {
   margin-top: 1px;
   background-color: #212121;
   background-image: url(/src/v960-ning-05.jpg);
   background-attachment: fixed;
   background-size: cover;
   border-radius: 25px;
   border: 18px #000000;


 }

 /* feedback */
 .feedbackf {
   background: linear-gradient(108, 403deg, rgba(226, 13, 13, 0.11)102.95%);

   border: 18px #8a0000;



   box-shadow: -5px 4px 34px -1px rgba(255, 0, 0, 0.21);
   border-radius: 25px;

   backdrop-filter: blur(10px);

   margin-right: 50px;


 }

 .feedbkiback {
   background-color: #000000;
   color: antiquewhite;
 }

 /* background_padding */
 .background_padding {
   background-color: #212121;
 }





 /* output
prompt ko white
space
.background of chars and bitton
scrool bar */



 /* icons on my profile  --done */

 /* side bar in .dashboard */

 /* generating profile  --done */